.control-panel{
    display: flex;
    align-items: center;
}

.control-panel__link{
    margin-right: 58px;
    flex-shrink: 0;
  
}

.control-panel__img{
    display: block;
}

.control-panel__list{
    @include reset-list;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}

.control-panel__items{
    display: block;
    margin-right: 32px;

}

.control-panel__items-link{
     color: $grey;

}

.control-panel__items-link:hover{
    color: #FCB72B;
    transition: 250ms ease;
}




@media screen and (max-width: $tablet) {
    .control-panel{
        margin-left: 39px;
        margin-right: 40px;
    }
  
}