.faqs__container{
    display: flex;
}

.faqs{
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2.14286px;
    color: #495567;


}

.faqs__h3{
    @include remov-p-m;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -1.78571px;
    color: #495567;
    flex-grow: 1;

}

.faqs__list{
    @include reset-list;
    margin-bottom: 64px;
    position: relative;
}



.faqs-line1::after{
    content: "";
    width: 734px;
    height: 40px;
    background-image: url(../../img/home-intro-line1.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 70%;
    left: -112%;
    
}

.faqs-line1::before{
    content: "";
    width: 445px;
    height: 446px;
    background-image: url(../../img/home-main-sercel1.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 50%;
    left: -112%;
    
}


.faqs__items{
    width: 730px;
    background: #F2F5F9;
    margin-bottom: 16px;
    padding-left: 40px;

}

.faqs__span{
    display: flex;


}

.faqs__title{
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -1.07143px;
    color: #495567;
    margin-top: 32px;
    margin-bottom: 32px;


}

.faqs__butten{
    border: none;
    background: #F2F5F9;
    height: 28px;
    align-self: center;
    margin-right: 40px;
    margin-left: auto;

}


.faqs__description{
    width: 650px;
    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #495567;
    @include remov-p-m;


}


.faqs__items:hover{
    background: #FFF4DF;
    transition: 200ms;
    .faqs__butten{
        background: #FFF4DF;
    }
}



@media screen and (max-width: $tablet) {
    .faqs__container{
        max-width: 689px;
        flex-direction: column;
        text-align: center;
    }

    .faqs__items{
        text-align: start;
    }


}


@media screen and (max-width: $mobile) {
    .faqs__container{
        max-width: 311px;
    }

    .faqs__items{
        width: 311px;
        display: inline-block;
        

    }
    .faqs__butten{
        margin: 52px 28px 44px 16px;
    }

    .faqs__title{
        width: 251px;
        display: inline-block;
    }
    
    .faqs__description{
        width: 251px;
        margin: 0 28px 32px 0 ;
    }
}

