.intro{
    width: 1440px;
    background-image: url(/img/intro_backgroun_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include remov-p-m;
    margin-right: auto;
    margin-left: auto;
    display: block;
}


.intro__title{
    width: 500px;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: #FFFFFF;
    margin: 153px 0 40px 0;
    display: inline-block;
}

.intro__container{
    width: 500px;
    display: block;
    margin-left: 95px;
    padding-bottom: 152px;
}


.intro__description{
    width: 405px;
    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 40px;
}


