.intro-img{
    max-width: 1440px;
    background-image: url(/img/intro_backgroun_img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include remov-p-m;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

.intro{
    width: 1110px;
    margin-right: auto;
    margin-left: auto;
    display: block;
   
}



.intro__title{
    width: 500px;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    letter-spacing: -2.5px;
    color: $white;
    display: block;
    margin: 153px 0 40px 0;
    display: inline-block;
}

.intro__container{
    width: 500px;
    display: block;
    margin-left: 95px;
    padding-bottom: 152px;
    position: relative;
}

.intro__container::before{
    content: "";
    width: 202px;
    height: 20px;
    background-image: url(../img/home-intro-line1.svg);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top:  11%;
    left: -52%;
}

.intro__container::after{
    content: "";
    width: 447px;
    height: 150px;
    background-image: url(../img/home-intro-line2.svg);
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    top: 11%;
    left: 444px;
    
}


.intro__description{
    width: 405px;
    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: $white;
    margin-top: 0;
    margin-bottom: 40px;
}


@media screen and (max-width: $tablet) {
    .intro-img{
        background-image: none;
        
    }

    .intro{
        max-width: 768px;
        background-image: url(../../img/tablet_intro.jpg);
        background-size: cover;
        padding-bottom: 70px;
        
    }

    .intro__title{
        width: 573px;
        margin: 137px 908px 24px 97px;
        text-align: center;   
    }

    .intro__description{
        width: 573px;
        text-align: center;
        margin-bottom: 32px;
    }

    
    .intro__container{
        width: 573px;
        text-align: center;
        position: relative;
    }

    .intro__container::before{
        content: "";
        background-image: none;
        
    }
    
    .intro__container::after{
        content: "";
        width: 447px;
        height: 145px;
        background-image: url(../img/home-intro-line2.svg);
        top: 65%;
        left: -40%;
    
    }
}



@media screen and (max-width: $mobile){
    .intro-img{
        background-image: none;
    }
    
    .intro {
        width: 375px;
        background-image: url(../../img/mobile-intro.jpg);
        
    }

    .intro__title{
        width: 311px;
        font-size: 40px;
        line-height: 40px;   
        letter-spacing: -1.78571px;
        margin: 115px 32px 24px 32px;
    }
    
    
    .intro__description{
        display:  block;
        margin: 0;
        width: 311px;
        margin-right: 32px;
        margin-left: 32px;
        margin-bottom: 34px;
    }
    
    
    .intro__container{
        display: inline-block;
        width: 311px;
        margin: 0 auto;
        padding-bottom: 179px;
    }

    .intro__container::after{
        content: "";
        display: none;
        
    
    }
    
    .intro__span{
        margin-right: 97px;
        margin-left: 98px;
        
    }
}   