.media{
    @include reset-list;
    display: flex;
    align-items: center;
    margin: 38px 0;
    flex-shrink: 0;

}

.media__items{
    margin-left: 24px ;

}

.media__img{
    display: block;
}





@media screen and (max-width: $tablet) {
    .footer__container{
        margin-left: 39px;
    }

    .media{
        margin-right: 40px;
    }
  
}


@media screen and (max-width: $mobile) {
    .media{
        margin-bottom: 88px;
    }
}
