.our-values{
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: -2.14286px;
    color: #495567;
    margin-bottom: 95px;

}


.our-values__list{
    @include reset-list;
    display: flex;
    

}

.our-values__items{
    width: 350px;
    display: inline-block;
    text-align: center;
    margin-right: 30px;
    position: relative;
}

.our-values__items:last-child{
    margin-right: 0;
}

.our-values__img{
    border-radius: 50%;

}

.yellow-sercel{
    width: 96px;
    height: 96px;
    background-color: $yellow;
    display: block;
    border-radius: 50%;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-repeat: no-repeat;
    background-position: center center;
}

.one-sercel{
    background-image: url(../../img/about-sercel1.svg);
}

.two-sercel{
    background-image: url(../../img/about-sercel2.svg);
}

.three-sercel{
    background-image: url(../../img/about-sercel3.svg);
}


.our-values__title{
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: -1.07143px;
    color: #495567;
    margin-top: 87px;

}

.our-values__description{
    font-family: 'Lexend Deca', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    text-align: center;
    color: $grey;

}



@media screen and (max-width: $tablet) {
    .our-values__list{
        flex-direction: column;
    }
    
    .our-values__items{
        width: 457px;
        margin-right: auto;
        margin-left: auto ;
    }
}


@media screen and (max-width: $mobile) {
    .our-values__items{
        width: 311px;
    }
}
