.application{
    width: 100%;
    background: #495567;
    position: relative;
}

.application::after{
    content: "";
    width: 1000px;
    height: 173px;
    background-image: url(../../img/home-footer-sercel.svg);
    background-repeat: no-repeat;
    background-position: 0 ;
    position: absolute;
    bottom: -2%;
    right: 22%;
}

.sign-up{
    display: flex;
    align-items: center;
}


.sign-up__title{
    width: 415px;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: -2.14286px;
    color: $white;
    margin: 102px 0;

}

.sing-up__container{
    display: flex;
    margin: 122px 0 122px auto;

}

.sign-up__links{
    width: 178px;
    background: #E5ECF4;
    border-radius: 4px;
    margin-right: 18px;
    display: flex;
}

.sign-up__links:nth-child(2n){
    margin-right: 0;
}

.sign-up__apple{
    width: 25px;
    height: 27px;
    display: block;
    background-image: url(../img/apple-store.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 15px 12px 14px 16px;
}

.sign-up__google{
    width: 27px;
    height: 27px;
    display: block;
    background-image: url(../img/google-play.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin: 16px 10px 13px 16px;
}


.sign-up__p{
    @include remov-p-m;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: -0.446429px;
    color: #495567;
    align-self: auto;
    margin-top: 8px;

}

.sign-up__store{
    @include remov-p-m;
    font-family: 'Space Mono', monospace;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.892857px;
    color: #495567;
}



@media screen and (max-width: $tablet) {
    .sign-up{
        flex-direction: column;
        text-align: center;
        
    }

    .application::after{
        content: "";
        display: block;
    }


    .sign-up__title{
        width: 457px;
        margin: 62px 156px 40px 155px;
    }


    .sing-up__container{
        @include remov-p-m;
        margin-bottom: 62px;
    }
  
}


@media screen and (max-width: $mobile) {
    .sign-up{
        width: 375px;
        
    }

    .application::after{
        content: "";
        display: block;
    }

    .sign-up__title{
        width: 311px;
        font-size: 32px;
        line-height: 32px;
        text-align: center;
        letter-spacing: -1.42857px;
    }


    .sign-up__links{
        margin-right: 12px;
    }
}

